<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.hw5">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <application android:label="HW5.Android">
      <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBzpT2jjvP5VP57b4ZNdLLKqM9PCSFaoG8" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
